#wrapper {
		position: static;
		border-width: 300;
		height: auto;
		padding: 10px;
		background-color: #ADD8E6;
		}
body {
		  font-family: Verdana, Arial, sans-serif;
		  text-align: center;
		position:	relative;
		padding: 10px;
		}		
h1 { 
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	padding:50;
	}
div {
	background-color: #FFE4C4;
	text-align: center;
	left: 500px;
	padding: 10px;
	}