#wrapper {
			position: relative;
			height: 300px;
			width: 521px;
			margin: auto;
			padding: 10%;
			background-color: #99FFE6;
}
.h2 {
	position: relative;
	height: 60px;
	width: 521px;
	padding:5%;
	text-align: center;
	 font-family: Arial, Helvetica, sans-serif;
	 background-color:#33CC00;
	 
}	
.nav {
	float: left;
	width: 150px;
	height: 252px;
	background-color:#0066CC; 
	text-align: center;
}
.nav a { 
  color: black; 
  display: block; 
  padding: 15.9px;
  text-decoration: none;}
	
.maincontent {
	position: relative;
	height: 200px;
	width: 408px;
	background-color: #FFCC66;
	left:113px;
	text-align: left;
	padding:5%
}